doctype html
html

  head

    block meta
      meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
      meta(name="robots", content="INDEX,FOLLOW")
      meta(name="viewport", content="width=device-width, initial-scale=1")

    block title
      title 

    link(href="/pub/css/style.css", rel="stylesheet", type="text/css")      

    script(src="/pub/js/lib/require.js", data-main="/pub/js/config")

  body

    block content    
      | .

