<div class="container mt-2">

  <!--filter-->
  <div class="row">
    <div class="col">
      <input type='text' class="form-control" placeholder='Search ...' (keyup)='table.updateFilter($event)'/>
    </div>

    <div class="col align-self-center">
      <span>{{table.selected.length}} items selected.</span>
    </div>

    <div class="col-auto">
      <div class="btn-group" role="group" (click)="table.load()">
        <label class="btn btn-outline-info" [(ngModel)]="radioModel" btnRadio="20" >
          {{radioModel === '20' ? 'Loaded' : 'Load'}} 20 rows
        </label>
        <label class="btn btn-outline-info" [(ngModel)]="radioModel" btnRadio="100" >
          {{radioModel === '100' ? 'Loaded' : 'Load'}} 100 rows
        </label>
        <label class="btn btn-outline-info" [(ngModel)]="radioModel" btnRadio="250" >
          {{radioModel === '250' ? 'Loaded' : 'Load'}} 250 rows
        </label>
        <label class="btn btn-outline-info" [(ngModel)]="radioModel" btnRadio="500" >
          {{radioModel === '500' ? 'Loaded' : 'Load'}} 500 rows
        </label>
        <label class="btn btn-outline-info" [(ngModel)]="radioModel" btnRadio="1000" >
          {{radioModel === '1000' ? 'Loaded' : 'Load'}} 1000 rows
        </label>
      </div>
    </div>

    <div *ngIf="table.hasRows()" class="col-auto">
      <div  class="btn-group" role="group" >
        <button type="button" class="btn btn-danger" (click)="table.remove()">Remove rows</button>
      </div>
    </div>
  </div>

  <!--table-->
  <div>
    <app-table #table [totalRows]="radioModel">
    </app-table>
  </div>
</div>
